---
layout: default
---

<main class="content" itemscope itemtype="http://schema.org/BlogPosting">
  {{> partials/header }}
  <section class="article__date" itemprop="datePublished">
    {{> icons/calendar }} {{ iso page/date }}
  </section>
  <section class="article" itemprop="articleBody">{{{ content }}}</section>
</main>
