---
layout: default
---

<img src="/img/cover.jpg" alt="New Zealand Beach" class="cover" />
<main class="content">
  <header class="profile">
    <img
      src="/img/profile.jpg"
      alt="{{ author/name }}"
      class="profile__avatar"
    />
    <div class="profile__details">
      <h1 class="profile__name">{{ author/name }}</h1>
      <h2 class="profile__username">{{ author/twitter }}</h2>
    </div>
  </header>
  <section class="bio">
    {{{ content }}}
  </section>
  <section class="recent">
    <h1 class="recent__title">Recent Posts</h1>
    {{#each (limit (reverse collections/posts) 3) }} {{> partials/post data }}
    {{/each}}
  </section>
  <footer>
    {{> partials/social }}
  </footer>
</main>
