.post__container {
  --high: var(--base-high);
  --medium: var(--base-medium);
  --low: var(--base-low);
  --border: var(--base-border);
  display: flex;
  border-radius: 0.25rem;
  text-decoration: none;
  padding: 0.5rem 0 1rem;
}

.post__container:hover {
  --high: var(--primary-high);
  --medium: var(--primary-medium);
  --low: var(--primary-low);
  --border: var(--primary-border);
  background-color: var(--primary-border);
}

.post__container:focus {
  outline-color: var(--base-low);
}

.post__icon {
  align-items: center;
  color: var(--low);
  display: flex;
  flex-shrink: 0;
  height: 3rem;
  justify-content: center;
  width: 3rem;
  margin-right: 1rem;
}

.post__title {
  color: var(--high);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  margin-right: 1rem;
}

.post__date {
  color: var(--medium);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}
