.social {
    display: flex;
    justify-content: center;
}

.social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;

    color: var(--base-medium);
    border-radius: 50%;
}

.social__icon .feather {
    display: block;
}

.social__icon + .social__icon {
    margin-left: 0.5rem;
}

.social__icon:hover {
    background-color: var(--base-border);
}

.social__icon:focus {
    outline-color: var(--base-low);
}
