---
layout: default
title: Blog
---

<main class="content">
  {{> partials/header }} {{#each (group (reverse collections/posts)) }}
  <section class="group">
    <h2 class="group__title">{{ title }}</h2>
    {{#each collection }} {{>partials/post data }} {{/each}}
  </section>
  {{/each}}
</main>
