<nav
  class="justify-center space-x-2 {{#if hide}}hidden sm:flex{{else}}flex{{/if}}"
>
  {{>partials/social href="/blog" label="Blog" icon="file-text"}}
  <!---->
  {{>partials/social href="https://github.com/pspeter3" label="Github"
  icon="github"}}
  <!---->
  {{>partials/social href="https://twitter.com/pspeter3" label="Twitter"
  icon="twitter"}}
  <!---->
  {{>partials/social href="https://linkedin.com/in/pspeter3" label="LinkedIn"
  icon="linkedin"}}
</nav>
