<header class="profile">
  <img src="/img/profile.jpg" alt="{{ author/name }}" class="profile__avatar" />
  <div class="profile__details">
    <h1 class="profile__name">{{ author/name }}</h1>
    <h2 class="profile__username">{{ author/twitter }}</h2>
  </div>
</header>
