<nav class="social">
  <a
    href="/blog/"
    class="social__icon social__icon--optional"
    aria-label="Blog"
  >
    {{> icons/file-text }}
  </a>
  <a
    href="https://github.com/pspeter3"
    class="social__icon"
    aria-label="Github"
  >
    {{> icons/github }}
  </a>
  <a
    href="https://twitter.com/pspeter"
    class="social__icon"
    aria-label="Twitter"
  >
    {{> icons/twitter }}
  </a>
  <a
    href="https://linkedin.com/in/pspeter3"
    class="social__icon"
    aria-label="LinkedIn"
  >
    {{> icons/linkedin }}
  </a>
</nav>
