<a
  href="{{href}}"
  class="
    flex
    h-12
    w-12
    items-center
    justify-center
    rounded-2xl
    text-gray-400
    hover:text-sky-400
    focus:outline-none focus:ring focus:ring-sky-400
    dark:text-gray-500 dark:hover:text-sky-500 dark:focus:ring-sky-500
  "
  aria-label="{{label}}"
>
  {{{icon icon}}}
</a>
